# Company Logo (From HackerRank)

A newly opened multinational brand has decided to base their company logo on the three most common characters in the company name. They are now trying out various combinations of company names and logos based on this condition. Given a string , which is the company name in lowercase letters, your task is to find the top three most common characters in the string.

Print the three most common characters along with their occurrence count.
Sort in descending order of occurrence count.
If the occurrence count is the same, sort the characters in alphabetical order.
For example, according to the conditions described above,

 would have it's logo with the letters .

Input Format

A single line of input containing the string .

Constraints

 has at least  distinct characters
Output Format

Print the three most common characters along with their occurrence count each on a separate line.
Sort output in descending order of occurrence count.
If the occurrence count is the same, sort the characters in alphabetical order.

Sample Input 0

aabbbccde
Sample Output 0

b 3 <br>
a 2 <br>
c 2 <br>
Explanation 0 <br>


Here, b occurs  times. It is printed first.
Both a and c occur  times. So, a is printed in the second line and c in the third line because a comes before c in the alphabet.

Note: The string  has at least  distinct characters.

In [1]:
import pandas as pd
import numpy as np
import string

In [2]:

name = str(input('Write the company name'))
name = [*name]

In [ ]:
df = pd.DataFrame(name,columns=['chars'])
df

   chars
0      s
1      j
2      s
3      k
4      j
5      s
6      h
7      s
8      k
9      l
10     a

In [ ]:
chars_uni = df['chars'].unique()

In [ ]:
chars=[]
nums=[]
for char in chars_uni:
    num = df[df['chars'] == char].shape[0]
    nums.append(num)
    chars.append(char)

[4, 2, 2, 1, 1, 1]

In [ ]:
df2 = pd.DataFrame(nums,columns=['num'],index=chars)
df2 = df2.sort_values('num', ascending=False)

df2.head(3)

   num
s    4
j    2
k    2